<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="randonautica.com.randonauticaflutter">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDO_8SsfidQnfEv37Cu_kSW2tWBUkOceP8"/>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
